## Pandas
One-Hot-Encoding using pandas

In [1]:
import pandas as pd

In [2]:
color_data = pd.read_csv('data.csv')

In [3]:
color_data

    COLOR
0     red
1     red
2     red
3    blue
4    blue
5    blue
6   green
7   green
8     red
9   green
10   blue

In [11]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp39-cp39-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\ml\anaconda3\envs\rl-learning\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Collecting scipy>=1.1.0
  Downloading scipy-1.8.0-cp39-cp39-win_amd64.whl (36.9 MB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=e84e0fd97b41fcf9bf2d80c4aac8ab7db415295ba57434b489476d7ef0edcb86
  Stored in directory: c:\users\keln\appdata\local\pip\cache\wheels\e4\7b\98\b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 scipy-1.8.0 sklearn-0.0 threadpoolctl-3.1.0

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [18]:
encoded_data = pd.DataFrame(encoder.fit_transform(color_data[['COLOR']]).toarray())

In [19]:
encoded_data

      0    1    2
0   0.0  0.0  1.0
1   0.0  0.0  1.0
2   0.0  0.0  1.0
3   1.0  0.0  0.0
4   1.0  0.0  0.0
5   1.0  0.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  0.0  1.0
9   0.0  1.0  0.0
10  1.0  0.0  0.0

In [20]:
color_data = color_data.join(encoded_data)

In [21]:
color_data

    COLOR    0    1    2
0     red  0.0  0.0  1.0
1     red  0.0  0.0  1.0
2     red  0.0  0.0  1.0
3    blue  1.0  0.0  0.0
4    blue  1.0  0.0  0.0
5    blue  1.0  0.0  0.0
6   green  0.0  1.0  0.0
7   green  0.0  1.0  0.0
8     red  0.0  0.0  1.0
9   green  0.0  1.0  0.0
10   blue  1.0  0.0  0.0